@model HotelViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
        <div class="row">
            <div class="col-md-3"><hr style="height:1px;border:none;color:#333;background-color:#333;"/></div>
            <div class="col-md-6" style="text-align: center;"><h1>List of hotels</h1></div>
            <div class="col-md-3"><hr style="height:1px;border:none;color:#333;background-color:#333;"/></div>
        </div>
        <form method="POST" asp-action="Index">
        <div class="row" style="margin-top:20px">
            <div class="col-md-4">
                <input class="form-control" asp-for="SearchString" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Check In</h3>
                    </div>
                    <div class="col-md-9">
                        <input type="date" asp-for="CheckIn" class="form-control"/>
                    </div>
                </div>
		    </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Check out</h3>
                    </div>
                    <div class="col-md-9">
                        <input type="date" asp-for="CheckOut" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search"/>
            </div>
	    </div>
        </form>
    @if (Model.Hotels.Count() > 0)
    {
        
        <div class="row">
            @foreach (var hotel in Model.Hotels)
                {
                    <form method="POST" asp-action="Details">
                        <input type="hidden" asp-for="SearchString"/>
                        <input type="hidden" asp-for="CheckIn"/>
                        <input type="hidden" asp-for="CheckOut"/>         
                        <partial name="_hotel" model="hotel" />
                    </form>
                }
                    
        </div>
        
    }   
    else
    {
        <h1>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</h1>
    }
</div>