@model HotelViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <div class="col-md-12">
        <form class="form-header" asp-action="Index" method="GET">
            <input class="au-input au-input--xl" type="text" asp-for="SearchString" placeholder="Search for datas &amp; reports..." />
            <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>
        </form>
</div> *@
@if (Model.Hotels.Count() > 0)
{

    @foreach (var hotel in Model.Hotels)
        {
            <partial name="_hotel" model="hotel" />
        }
}   
    else
    {
        <h1>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</h1>
    }
