@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Medium input -->
<div class="md-form">
  <label for="inputMDEx">Medium input</label>
  <input type="hidden" id="inputMDEx" class="form-control">
</div>
<div class="md-form">
  <label for="inputMDEx">Medium input</label>
  <input type="text" id="inputMDEx" class="form-control">
</div>
<div class="md-form">
  <label for="inputMDEx">Medium input</label>
  <input type="text" id="inputMDEx" class="form-control">
</div>
