@model City
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Medium input -->

<form style="width: 500px;margin-left:250px"  method="POST">
<div class="md-form">
  <input type="hidden" asp-for="CityID" class="form-control">
</div>
<div class="md-form">
  <label asp-for="CityName"></label>
  <input type="text" asp-for="CityName" class="form-control" size="100px !important ">
</div>
<div class="md-form" style="margin-top:20px;">
  <a asp-action="Index" class="btn btn-primary mb-2" >Back</a>
  <button type="submit" class="btn btn-danger" >Edit</button>
</div>
</form>


