@model Hotel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Medium input -->

<form style="width: 500px;margin-left:250px" method="POST" enctype="multipart/form-data"  >
<div class="md-form">
  <input type="hidden" asp-for="HotelID" class="form-control">
</div>
<div class="md-form">
  <label asp-for="HotelCode" style="color:black,font-size:30px !important"></label>
  <input type="text" asp-for="HotelCode" class="form-control" size="100px !important">
</div>
<div class="md-form">
  <label asp-for="HotelName"></label>
  <input type="text" asp-for="HotelName" class="form-control" size="100px !important ">
</div>
<div class="md-form">
  <label asp-for="ImageUrl"></label>
  <input type="file" asp-for="ImageUrl" class="form-control" size="100px !important ">
</div>
<div class="md-form" style="margin-top:20px;">
  <a asp-action="Index" class="btn btn-primary mb-2" >Back</a>
  <button type="submit" class="btn btn-danger" >Create</button>
</div>
</form>


