@model Hotel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Medium input -->

<form style="width: 500px;margin-left:250px"  asp-action="Delete" method="POST">
<div class="md-form">
  <input type="hidden" asp-for="HotelID"class="form-control">
</div>
<div class="md-form">
  <label asp-for="HotelCode" style="color:black"></label>
  <input type="text" asp-for="HotelCode" class="form-control">
</div>
<div class="md-form">
  <label asp-for="HotelName"></label>
  <input type="text" asp-for="HotelName" class="form-control">
</div>
<div class="md-form">
  <label asp-for="ImageUrl"></label>
  <input type="text" asp-for="ImageUrl" class="form-control">
</div>
<div class="md-form" style="margin-top:20px;">
  <a asp-action="Index" class="btn btn-dark" style="margin-right:auto !important">Back</a>
  <button type="submit" class="btn btn-danger" >Delete</button>
</div>
</form>


