@model HotelViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@* @foreach (var room in Model.Hotel.Rooms)
{
    <div class="row">
    <div class="col-md-7">
        <img src="@room.ImageUrl"/>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">@room.RoomName</div>
            <div class="col-md-12">@room.RoomNumber</div>
            <div class="col-md-12">@</div>
        </div>
    </div>
</div>    
} *@
