@model Cart

<div class="container">
            @foreach (var item in Model.Items)
            {
                <partial name="_item" model="item" />
            }                
<div class="row">
    <div class="col-md-4">
    </div>    
@if(@Model.Items.Count > 0)
{
    <div class="col-md-8">
    <form method="POST">
        <div class="row">
           <div class="col-md-3">
                <input type="hidden" asp-for="@Model.Id">
                <input type="submit" class="btn btn-danger" value="Delete All" name="action">
           </div>
           <div class="col-md-3">
                <input type="submit" class="btn btn-info" value="Checkout" name="action">
           </div> 
           <div class="col-md-6"><h1>Total cost: @Model.Total() USD</h1></div>
        </div>
    </form> 
    </div>
}
</div>
</div>



