@model Cart

<div class="container">
            @foreach (var item in Model.Items)
            {
                <partial name="_item" model="item" />
            }                
<div class="row">
    <div class="col-md-6">
        <form method="POST" asp-controller="Cart" asp-action="DeleteAll">
            <input type="hidden" asp-for="@Model.Id">
            <input type="submit" value="Delete All">
        </form>
    </div>
    <div class="col-md-6">
        <form method="POST" asp-controller="Cart" asp-action="DeleteAll">
            <input type="hidden" asp-for="@Model.Id">
            <input type="submit" value="Delete All">
        </form>
    </div>
</div>
</div>

